@import 'assets/styles/variables';

// === HEADER ===
.section-header {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  margin: 0 auto;
  width: 100%;
  background-color: $color-header;

  .section-inner {
    display: flex;
    align-items: center;

    height: $base*12;

    background-color: $color-header;
    color: $color-white;

    font-size: rem($base*3);
    line-height: $base*3.5;

    @media (max-width: $screen-s-max) {
      justify-content: space-between;
    }
  }

  &-email {
    flex: 0 0 $base*40;
    display: flex;
    align-items: center;

    border-right: 1px solid rgba(255, 255, 255, 0.5);;

    font-weight: 700;

    @media (max-width: $screen-m-max) {
      margin-right: $base*15;
    }
    @media (max-width: $screen-s-max) {
      display: none;
    }

    &__icon {
      margin-right: $base*2;

      img {
      }
    }

    &__text {
    }
  }

  &-proposal {
    flex: 0 0 $base*125;

    font-weight: 700;

    padding-left: $base*5;

    @media (max-width: $screen-l-max) {
      flex: 0 0 $base*65;
    }
    @media (max-width: $screen-m-max) {
      display: none;
    }
  }

  &-social {
    flex: 0 0 $base*45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: $base*10;

    @media (max-width: $screen-s-max) {
      display: none
    }

    img {
      cursor: pointer;
      transition: .4s;

      &:hover {
        opacity: .7;
        transition: .4s;
      }
    }
  }

  &-select {
    flex: 0 0 $base*30;
  }

  &-language {
    display: flex;
    align-items: center;
    font-weight: 400;
    height: $base*7;
    padding-left: 10%;


    background-color: $color-header;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background-color: $color-background-dark;
      transition: .2s;
    }


    &__icon {
      width: $base*7;
    }

    &__text {
      margin-left: $base*2;
      margin-right: $base*2;
      width: $base*10;
    }

    &__dropDownList {
      margin-right: $base*6;

      &_select {
        opacity: 0;
      }
    }
  }

  &-login {
    flex: 0 0 $base*45;
    display: flex;
    align-items: center;
    font-weight: 400;

    border-left: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: .4s;

    &:hover {
      color: $color-background-dark;
      transition: .4s;
    }

    &__icon {
      padding-left: $base*6;
      padding-right: $base*2.5;
    }

    &__text {
    }
  }
}

// === /HEADER ===

// === NAVBAR ===
.section-navbar {

  .section-inner {
    height: $base*20;
    display: flex;
    align-items: center;

    @media (max-width: $screen-s-max) {
      flex-wrap: wrap;
      justify-content: space-between;
      height: $base*27.5;
    }
    @media (max-width: $screen-xs-max) {
      height: $base*37.5;
    }
  }

  .logo {
    padding-right: $base*22.5;
    cursor: pointer;

    @media (max-width: $screen-l-max) {
      padding-right: $base*10;
    }
    @media (max-width: $screen-m-max) {
      padding-right: 0;
    }
  }

  &-panel {
    display: flex;
    align-items: center;
    padding-left: $base*2;
    padding-right: $base*45;

    @media (max-width: $screen-l-max) {
      padding-right: 0;
      padding-left: 0;
    }
    @media (max-width: $screen-s-max) {
      order: 1;
      justify-content: space-between;
      width: 100%;
      padding-bottom: $base*2.5;
    }


    &__item {
      padding: 0 $base*5 0;

      text-decoration: none;
      color: inherit;
      font-weight: 400;
      font-size: rem($base*4);
      line-height: $base*5;
      text-transform: uppercase;
      cursor: pointer;
      transition: .4s;

      @media (max-width: $screen-m-max) {
        padding: 0 $base*2.5 0;
      }

      &:hover {
        color: $color-main;
        transition: .4s;
        text-shadow: 0 0 $base*2.5 $color-background;
      }
    }

    .screen-xs-max-none {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  &-purchase {
    display: flex;
    align-items: center;

    &__item {
      position: relative;
      margin-right: $base*2;
      display: flex;
      justify-content: center;
      align-items: center;

      height: $base*8.5;
      width: $base*8.5;
      border-radius: 100%;

      cursor: pointer;
      transition: .4s;
      background-color: $color-background;

      &:hover {
        background-color: $color-background-dark;
        transition: .4s;
      }
    }

    &__icon {
    }

    &__value {
      position: absolute;
      top: -$base*0.5;
      left: $base*5;
      z-index: 10;
      box-sizing: content-box;
      height: $base*3.5;
      width: $base*3.5;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-main;
      border: 1px solid $color-white;
      border-radius: 100%;

      font-weight: 700;
      font-size: rem($base*2.5);
      line-height: $base*3;
      color: $color-white;
    }

    &__amount {
      padding-left: $base;

      font-weight: 400;
      font-size: rem($base*4);
      line-height: $base*5;
      color: $color-text-secondary;

      &_value {
        color: $color-text-main;
        font-weight: 700;
      }
    }
  }
}

// === /NAVBAR ===
